/* Busca esta parte en tu style.css y actualízala */
.contenedor-sobre:hover .carta { 
    transform: translateY(-150px); /* Sube un poco más */
    height: 400px; /* Más espacio para el texto largo */
    z-index: 6; 
}

.carta p {
    font-size: 0.95rem;
    line-height: 1.6;
    margin: 10px 0;
}
